.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.plot {
	margin-top: 32px;
}

.loader {
	margin-top: 16px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.user {
	text-align: left;
	width: inherit;
}

.alert_wrapper {
	/* position: absolute; */
	bottom: 96px;

	z-index: 10;
	width: 100vw;
	height: 100px;

	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: center;
}
