.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.plot {
	margin-top: 32px;
}

.loader {
	margin-top: 32px;
}

.user {
	text-align: left;
	width: inherit;
}

.healbe {
	color: #8a2bf5;
	font-weight: bold;
	font-size: 48pt;
	text-align: center;
}

.modal {
	background-color: #fff;
	margin: 32px;
}
