.dropzone {
	padding: 16px;
	border: 2px dashed #34ebbd;
	border-radius: 8px;

	width: 60vw;
	max-width: 600px;
	text-align: center;
	font-size: 20px;
}

@media screen and (max-width: 600px) {
	.dropzone {
		max-width: 500px;
	}
}
