.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 56px;

	background-color: #7c27dd;
	color: white;
}

.box {
	text-align: center;
	flex-grow: 1;
}
